[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = test repo
[access "refs/*"]
	owner = group user/abhayadevs
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/abhayadevs
	label-Verified = -1..+1 group user/abhayadevs
	push = group user/abhayadevs
	read = group user/abhayadevs
	rebase = group user/abhayadevs
	removeReviewer = group user/abhayadevs
	submit = group user/abhayadevs
[access "refs/heads/*"]
	create = group user/abhayadevs
	push = +force group user/abhayadevs
	pushMerge = group user/abhayadevs
	read = group user/abhayadevs
[access "refs/tags/*"]
	push = group user/abhayadevs
	push = +force group user/abhayadevs
